<div id="about" class="container px-4 py-5 border-bottom">
  <div class="about-me">
    <h4>About Me</h4>
    <p>I'm a Certified Scrum Product Owner, self-taught programmer, and educator with 10+ years of experience in public schools, inspired by the learning that is possible when every student has access to excellent teaching and high-quality materials. I've dedicated my career to improving educational outcomes, and I'd love to continue doing so.</p>
    <p>I aim to deliver products and solutions that make a positive impact in classrooms. Through my teaching experience, I gained a deep understanding of how schools operate and the challenges faced by students, teachers, and administrators. I'm excited to bring my perspective, skills, and experience to tech teams and developing innovative products that enhance the teaching and learning experiences of educators and their students. </p>
    <p>In my free time, you can usually find me being active. I love playing tennis and volleyball, hiking in nature, and exploring new destinations.</p>
  </div>
</div>