<div id="intro" class="container col-xxl-8 px-4 py-5 border-bottom">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h3>Hello world</h3>
      <p>I'm Daniel Nguyen, Product Owner (CSPO) and self-taught programmer aiming to deliver innovative products in EdTech.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg', size: '30x30'), 'https://github.com/danielnguyen12', target:'_blank' %>
        <%= link_to image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg', size: '30x30'), 'https://www.linkedin.com/in/
danielnguyen412', target:'_blank' %>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag 'daniel.jpg', id: 'profile-pic' %>
    </div>
  </div>
</div>