<div id="work" class="container px-4 py-5 border-bottom" id="featured-3">
  <h4>Work</h4>
  <p>Currently providing academic tutoring services to independent clients. Open to inquiries about Product or Curriculum opportunities in EdTech.  </p>
  <span>
    <%= link_to 'View resume', asset_path("/documents/resumeDanielNguyen.pdf"), target:'_blank' %>
  </span>
</div>