<div id="work" class="container px-4 py-5 border-bottom" id="featured-3">
  <h4>Work</h4>
  <p>Currently looking to contribute as a product manager, software engineer, or developer in EdTech.  </p>
  <span>
    <%= link_to 'View resume', target:'_blank' %>
  </span>
</div>