<section class="s1">
  <div class="main-container">
    <div class="greeting-wrapper">
      <h1>Hi, I'm Daniel Nguyen</h1>
    </div>
    <div class="intro-wrapper">
      <div class="nav-wrapper">
        <div class="dots-wrapper">
          <div id="dot-1" class="browser-dot">

          </div>
          <div id="dot-2" class="browser-dot">

          </div>
          <div id="dot-3" class="browser-dot">

          </div>
        </div>
        <ul id="navigation">
          <li>
            <%=link_to 'Contact', root_path %>
          </li>
        </ul>
      </div>
      <div class="left-column">
        <%= image_tag 'daniel.jpg', id: 'profile-pic' %>
        <div class="theme">
          <h5 id="choose-theme">Choose a theme</h5>
          <div id="theme-options-wrapper">
            <div id="light-mode" class="theme-dot">
            </div>
            <div id="dark-mode" class="theme-dot">
            </div>
            <div id="pink-mode" class="theme-dot">
            </div>
            <div id="green-mode" class="theme-dot">
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div id="preview">
          <h3>What I Do</h3>
          <p>I am a software developer aiming to deliver innovative products that help people.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s2">
  <div class="main-container">
    <div class="about-wrapper">
      <div class="about-me">
        <h4>About Me</h4>
        <p>I'm a former teacher with over 10 years of experience in public schools, now making a transition into tech. Having witnessed firsthand the impact that technology can have in the classroom, I am passionate about the potential of digital innovation to transform education and improve outcomes for learners of all ages.</p>
        <p>My goal is to use technology to solve problems and create solutions that can make a real difference in people's lives. I am excited to bring my perspective and experience to the tech industry and look forward to learning and growing in this new chapter of my career.</p>
        <p>When I'm not coding, you can usually find me being active. I love playing tennis, hiking in nature, cooking up new recipes, and exploring new destinations.</p>
      </div>
      <div class="social-links"></div>
    </div>
  </div>
</section>

<section class="s1">
  <div class="main-container">
    Portfolio
  </div>
</section>

<section class="s2">
  <div class="main-container">
    Contact
  </div>
</section>

