<section class="s1">
  <div class="main-container">
    <div class="greeting-wrapper">
      <h1>Hi, I'm Daniel Nguyen</h1>
    </div>
    <div class="intro-wrapper">
      <div class="nav-wrapper">
        <div class="dots-wrapper">
          <div id="dot-1" class="browser-dot">

          </div>
          <div id="dot-2" class="browser-dot">

          </div>
          <div id="dot-3" class="browser-dot">

          </div>
        </div>
        <ul id="navigation">
          <li>
            <%=link_to 'Contact', root_path %>
          </li>
        </ul>
      </div>
      <div class="left-column">
        <%= image_tag 'daniel.jpg', id: 'profile-pic' %>
        <div class="theme">
          <h5 id="choose-theme">Choose a theme</h5>
          <div id="theme-options-wrapper">
            <div id="light-mode" class="theme-dot">
            </div>
            <div id="dark-mode" class="theme-dot">
            </div>
            <div id="pink-mode" class="theme-dot">
            </div>
            <div id="green-mode" class="theme-dot">
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div id="preview">
          <h3>What I Do</h3>
          <p>I am an educator with over 10 years of experience in public schools and now an aspiring software developer.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s2">
  <div class="main-container">
    About
  </div>
</section>

<section class="s1">
  <div class="main-container">
    Portfolio
  </div>
</section>

<section class="s2">
  <div class="main-container">
    Contact
  </div>
</section>

