:root{
  --mainText:black;
  --secondaryText:#4b5156;
  --mainColor:#eaeaea;
  --secondaryColor:#fff;
  --borderColor:#c1c1c1;
  --themeDotBorder:#24292e:
}

h1, h2, h3, h4, h5, strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p, li, span, label, input, textarea{
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a{
  text-decoration: none;
  color: #17a2b8;
}

ul{
  list-style: none;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

#profile-pic{
  margin: 0 auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid black;
}

#theme-options-wrapper{
  display: flex;
  justify-content: center;
}

.theme-dot{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);


  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.theme-dot:hover{
  border-width: 5px;
}

#light-mode{
  background-color: #fff;
}

#pink-mode{
  background-color:#d87093;
}

#green-mode{
  background-color: rgb(120, 134, 107);
}

#dark-mode{
  background-color:rgb(66, 66, 66);
}