:root{
  --mainText:black;
  --secondaryText:#4b5156;
  --mainColor:#eaeaea;
  --secondaryColor:#fff;
  --borderColor:#c1c1c1;
  --themeDotBorder:#24292e:
}

h1, h2, h3, h4, h5, strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p, li, span, label, input, textarea{
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

.navbar-brand{
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  transform: rotate(-8deg);
}

a{
  text-decoration: none;
  color: #17a2b8;
}

ul{
  list-style: none;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

#profile-pic{
  margin: 0 auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid black;
}